<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <akka>
    <hocon>
      <![CDATA[
          akka {
            # here we are configuring log levels                        
            loggers = ["Akka.Logger.NLog.NLogLogger, Akka.Logger.NLog"]                    
            stdout-loglevel = DEBUG
            loglevel = DEBUG
            log-config-on-start = off        
            
            actor {                
                debug {  
                      receive = on 
                      autoreceive = on
                      lifecycle = off
                      event-stream = off
                      unhandled = on                      
                }
                
                deployment {
                  /supervisor/attachmentScanner {
                    router = round-robin-pool
                    nr-of-instances = 5
                }
            }
            
            
          }
      ]]>
    </hocon>
  </akka>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>